@font-face{
    font-family: "Last-Christmas";
    src: url("../assets/LastChristmas_PERSONAL_USE_ONLY.otf");
}

h2 {
    font-family: "Last-Christmas";
    color: rgb(255, 255, 255);

}
body {
    cursor: url("https://cdn.custom-cursor.com/db/7690/santa-with-present-cursor.png") 0 10, auto ;
    background-image: url("https://applescoop.org/image/wallpapers/mac/xmas-christmas-santa-claus-sleigh-tree-forest-30-10-2024-1730273778-hd-wallpaper.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.title h2 {
    font-size: 4em;
    text-shadow: rgba(255, 253, 214, 0.622) 0 0 45px;
    text-align: center;
}

ul {

    list-style: circle;
    text-align: left;
}

li {
    padding-bottom: 20px;
}

.icon{
    color: #7acae4;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.page-container{
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.fun-facts{
    margin-left: 20px;
    margin-right: 20px;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.118);
    border-radius: 2em;
    padding: 10px 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.recipes{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.118);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    gap: 5px;
    border-radius: 2em;
    flex: 1
}

.recipes img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.countdown{
    margin-bottom: 10px;
}
.music-box{
    margin-bottom: 10px;
}