main {
    background-color: #111;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
}

.facts-info p{
    font-size: 2rem;
}

.facts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem;
    justify-items: center;
}

.card {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    transition:
        transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
        box-shadow 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
        filter 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.card-hover {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    transition: opacity 0.4s ease;
    font-family: "Georgia", serif;
}

.card:hover .card-hover {
    opacity: 1;
}

.card-hover p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.card-link {
    font-weight: bold;
    text-decoration: none;
}

.facts-grid:hover .card {
    filter: grayscale(100%) brightness(0.5);
}

.facts-grid .card:hover {
    filter: none;
}