main {
    background-color: #111;
    color: white;
    padding: 2rem;
}

.facts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 2rem;
    justify-items: center;
}

.card {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}