img {
    width: 275px;
    height: 183px;
}

p {
    margin-top: 0px;
    margin-left:  0px;
    text-align: center;
}

.text a,
.slide a,
.slideshow a {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.8);
}

.text a:visited,
.slideshow a:visited {
    color: #eee;
}

.text a:hover,
.text a:focus,
.slideshow a:hover {
    color: #fff;
    text-decoration: underline;
}

h4 {
    margin-top: 0px;
    margin-left:  0px;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    overflow: auto;
}

.slideshow {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 1;
    animation: fade 20s infinite;
    animation-fill-mode: both;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem 3rem;
    border-radius: 12px;
    backdrop-filter: blur(3px);
    z-index: 2;
    visibility: hidden;
    pointer-events: none;
    animation: textfade 20s infinite;
    animation-fill-mode: both;
}

.slide:nth-child(1)::before {
    background-image: url('https://thatadventurer.co.uk/wp-content/uploads/2020/09/leavenworth-christmas-festival-.jpg');
    animation-delay: 0s;
}

.slide:nth-child(2)::before {
    background-image: url('https://static-cdn.toi-media.com/www/uploads/2018/12/F171220MHFF07.jpg');
    animation-delay: 5s;
}

.slide:nth-child(3)::before {
    background-image: url('https://www.travelalaska.com/sites/default/files/inline-images/%40jennyksf_1.jpg');
    animation-delay: 10s;
}
.slide:nth-child(4)::before {
    background-image: url('https://media.timeout.com/images/105730957/image.jpg');
    animation-delay: 15s;
}

.slide:nth-child(1) .text { animation-delay: 0s; }
.slide:nth-child(2) .text { animation-delay: 5s; }
.slide:nth-child(3) .text { animation-delay: 10s; }
.slide:nth-child(4) .text { animation-delay: 15s; }

@keyframes fade {
    0% { opacity: 0; }
    5% { opacity: 1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes textfade {
    0%, 5% { opacity: 0; transform: translate(-50%, -48%); visibility: hidden; }
    7%, 20% { opacity: 1; transform: translate(-50%, -50%); visibility: visible; pointer-events: auto; }
    25%, 100% { opacity: 0; transform: translate(-50%, -52%); visibility: hidden; pointer-events: none; }
}
