@font-face{
    font-family: "Last-Christmas";
    src: url("../assets/LastChristmas_PERSONAL_USE_ONLY.otf");
}

body {
    cursor: url("https://cdn.custom-cursor.com/db/15975/32/holidays-hanukkah-jug-and-candles-pointer.png") 0 10, auto ;
    background-image: url("https://img.freepik.com/free-vector/gradient-background-hanukkah-celebration-with-menorah-presents_23-2150907726.jpg?t=st=1762982729~exp=1762986329~hmac=3f2cd92e5d47da2f25ca5e76c9fb2323be4056303e238716bfb8c0b5e32082ce&w=2000");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-family: "Last-Christmas";
    font-size: 3em;
    color: rgb(255, 204, 0);
    text-shadow: rgba(255, 253, 214, 0.622) 0 0 45px;
}

ul {

    list-style: circle;
    text-align: left;
}

li {
    padding-bottom: 20px;
}

.fun-facts {
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(255, 255, 255);
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}