main {
    background-color: #111;
    color: white;
    padding: 2rem;
}

.banner {
    width: 100%;
    height: 70vh;
    position: relative; 
    overflow: hidden;
    background-color: #f4f4f4;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 12s infinite;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selebration {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 4rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: "Georgia", "Palatino Linotype", "Palatino", "Times New Roman", serif;
}
.description {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    font-family: "Georgia", "Palatino Linotype", "Palatino", "Times New Roman", serif;
}

/* animation */

.slide.christmas { 
    animation-delay: 0s; 
}

.slide.hanukkah { 
    animation-delay: 4s;
}

.slide.new-year {
    animation-delay: 6s;
}

@keyframes fade {
    0% {opacity: 0;}
    10% { opacity: 1;}
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }

}
