/* * {border: 1px solid red;} */

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box; */
    }


h2 {font-family: 'Apple Chancery', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: 10px;}

p { font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
    }

body {cursor: url("https://www.citypng.com/public/uploads/preview/hd-red-glowing-fireworks-transparent-png-704081695052379tcyvm8awud.png") 0 5000, auto;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20231014/pngtree-glistening-festive-background-with-textured-red-bokeh-and-glitter-sparkles-image_13629564.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }


.facts-list li {    
    font-family: 'Arial Black', sans-serif;
    font-size: 20px;
    color: rgb(25, 9, 10);
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: 5px solid rgb(222, 48, 39);
    border-radius: 15px;
    background-color: rgba(207, 164, 164, 0.494);
    box-shadow: 0 0 15px rgb(225, 62, 33);
    }

ol { list-style-type: none;
}

