.icon{
    color: #7acae4;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.icon,
.icon .inner {
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes icons-fall {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(110vh);
    }
}

@keyframes icons-shake {
    0%,
    100% {
    transform: translateX(0);
    }
    50% {
    transform: translateX(80px);
    }
}

.icon{
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
    animation-name: icons-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.icon .inner {
    animation-duration: 10s;
    animation-name: icons-fall;
    animation-timing-function: linear;
}

.icon:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s;
}
.icon:nth-of-type(0) .inner {
    animation-delay: 0s;
}

.icon:first-of-type {
    left: 10%;
    animation-delay: 1s;
}
.icon:first-of-type .inner,
.icon:nth-of-type(8) .inner {
    animation-delay: 1s;
}

.icon:nth-of-type(2) {
    left: 20%;
    animation-delay: 0.5s;
}
.icon:nth-of-type(2) .inner,
.icon:nth-of-type(6) .inner {
    animation-delay: 6s;
}

.icon:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}
.icon:nth-of-type(11) .inner,
.icon:nth-of-type(3) .inner {
    animation-delay: 4s;
}

.icon:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}
.icon:nth-of-type(10) .inner,
.icon:nth-of-type(4) .inner {
    animation-delay: 2s;
}

.icon:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s;
}
.icon:nth-of-type(5) .inner {
    animation-delay: 8s;
}

.icon:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s;
}

.icon:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s;
}
.icon:nth-of-type(7) .inner {
    animation-delay: 2.5s;
}

.icon:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s;
}

.icon:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s;
}
.icon:nth-of-type(9) .inner {
    animation-delay: 3s;
}

.icon:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s;
}

.icon:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s;
}