body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url("../img/snowflake.svg") 16 16, auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: #4c4b46;
  padding: 0.3rem 1rem;
}

.logo-title {
  display: flex;
  align-items: center;
}

header h1{
  font-size: 1.3rem;
  font-family: cursive, sans-serif;
  color: #ff0000;
  margin-left: 5px;
}

.logo {
  width: 30px;
  height: auto;
  display: block;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #ff0000;
  text-decoration: none;
}

main {
  flex: 1;
}

footer {
  background-color: #4c4b46;;
  padding: 1rem;
  text-align: center;
}


